__pycache__/
*.py[cod]
*$py.class
dataset/
data/
results/
results_extract/
wandb/
images/
*.whl
*.tar.gz
venv/
.env/
env/
.vscode/
.DS_Store
.env
error_analysis/
*.zip
KG_data/
TransE_FB15k-237_0/
TransE_wn18rr_0/